public/*
!/public/resource/*
!/public/dist
!/public/sh
!/public/casbin_conf
!/public/reboot.txt
!/public/remark.txt
!/public/conf.txt
dbcache/
.git
.idea
.vscode
novel-*
collect-*
model.go
test
email
bqg24
lyd
zssq
siluke520
*.zip
＊.rar
＊.7z
*.json
*.jpg
*.png
*.txt
*.sql
/tmp/build-errors.log
/config.yml
